services/EmpresaService_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EmpresaService"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="EmpresaCreateOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="nombre" type="xsd:string"></xsd:element>
						<xsd:element name="direccion"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="situacion"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EmpresaCreateOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EmpresaDeleteOperation">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="id" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EmpresaDeleteOperationResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EmpresaGetOperation">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="id" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EmpresaGetOperationResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="id" type="xsd:int"></xsd:element>
						<xsd:element name="nombre" type="xsd:string">
						</xsd:element>
						<xsd:element name="direccion"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="situacion"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EmpresaSearchOperation">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="nombre" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EmpresaSearchOperationResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="id" type="xsd:int"></xsd:element>
						<xsd:element name="nombre" type="xsd:string">
						</xsd:element>
						<xsd:element name="direccion"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="situacion"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EmpresaUpdateOperation">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="id" type="xsd:int"></xsd:element>
						<xsd:element name="nombre" type="xsd:string">
						</xsd:element>
						<xsd:element name="direccion"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="situacion"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="EmpresaUpdateOperationResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="id" type="xsd:int"></xsd:element>
						<xsd:element name="nombre" type="xsd:string">
						</xsd:element>
						<xsd:element name="direccion"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="situacion"
							type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="EmpresaCreateOperationRequest">
		<wsdl:part name="parameters" element="tns:EmpresaCreateOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EmpresaCreateOperationResponse">
		<wsdl:part name="parameters" element="tns:EmpresaCreateOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="EmpresaDeleteOperationRequest">
		<wsdl:part name="parameters" element="tns:EmpresaDeleteOperation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EmpresaDeleteOperationResponse">
		<wsdl:part name="parameters" element="tns:EmpresaDeleteOperationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EmpresaGetOperationRequest">
		<wsdl:part name="parameters" element="tns:EmpresaGetOperation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EmpresaGetOperationResponse">
		<wsdl:part name="parameters" element="tns:EmpresaGetOperationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EmpresaSearchOperationRequest">
		<wsdl:part name="parameters" element="tns:EmpresaSearchOperation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EmpresaSearchOperationResponse">
		<wsdl:part name="parameters" element="tns:EmpresaSearchOperationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EmpresaUpdateOperationRequest">
		<wsdl:part name="parameters" element="tns:EmpresaUpdateOperation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EmpresaUpdateOperationResponse">
		<wsdl:part name="parameters" element="tns:EmpresaUpdateOperationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="EmpresaCreatePortType">
		<wsdl:operation name="EmpresaCreateOperation">
			<wsdl:input message="tns:EmpresaCreateOperationRequest"></wsdl:input>
			<wsdl:output message="tns:EmpresaCreateOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="EmpresaHTTPPortType">
		<wsdl:operation name="EmpresaDeleteOperation">
			<wsdl:input message="tns:EmpresaDeleteOperationRequest"></wsdl:input>
			<wsdl:output message="tns:EmpresaDeleteOperationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EmpresaGetOperation">
			<wsdl:input message="tns:EmpresaGetOperationRequest"></wsdl:input>
			<wsdl:output message="tns:EmpresaGetOperationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EmpresaSearchOperation">
			<wsdl:input message="tns:EmpresaSearchOperationRequest"></wsdl:input>
			<wsdl:output message="tns:EmpresaSearchOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="EmpresaUpdatePortType">
		<wsdl:operation name="EmpresaUpdateOperation">
			<wsdl:input message="tns:EmpresaUpdateOperationRequest"></wsdl:input>
			<wsdl:output message="tns:EmpresaUpdateOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CreateSOAPBinding"
		type="tns:EmpresaCreatePortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="EmpresaCreateOperation">

			<soap:operation
				soapAction="http://www.talend.org/service/EmpresaCreateOperation" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="HTTPBinding" type="tns:EmpresaHTTPPortType">
		<http:binding verb="GET" />
		<wsdl:operation name="EmpresaDeleteOperation">
			<http:operation location="/EmpresaDeleteOperation" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EmpresaGetOperation">
			<http:operation location="/EmpresaGetOperation" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EmpresaSearchOperation">
			<http:operation location="/EmpresaSearchOperation" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="UpdateSOAPBinding"
		type="tns:EmpresaUpdatePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="EmpresaUpdateOperation">
			<soap:operation
				soapAction="http://www.talend.org/service/EmpresaUpdateOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EmpresaService">
		<wsdl:port name="EmpresaCreatePort" binding="tns:CreateSOAPBinding">
			<soap:address location="http://localhost:8090/services/EmpresaService/Create" />
		</wsdl:port>
		<wsdl:port name="EmpresaHTTPPort" binding="tns:HTTPBinding">
			<http:address location="http://localhost:8090/services/EmpresaService/HTTP" />
		</wsdl:port>
		<wsdl:port name="EmpresaUpdatePort" binding="tns:UpdateSOAPBinding">
			<soap:address location="http://localhost:8090/services/EmpresaService/Update" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>