services/MaterialService_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MaterialService"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="MaterialCreateOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="nombre" type="xsd:string">
						</xsd:element>
						<xsd:element name="precio_unitario"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="id_clase" type="xsd:int">
						</xsd:element>
						<xsd:element name="situacion"
							type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MaterialCreateOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MaterialDeleteOperation">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="id" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MaterialDeleteOperationResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MaterialGetOperation">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="id" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MaterialGetOperationResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="id" type="xsd:int"></xsd:element>
						<xsd:element name="nombre" type="xsd:string">
						</xsd:element>
						<xsd:element name="precio_unitario"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="id_clase"
							type="xsd:int">
						</xsd:element>
						<xsd:element name="situacion"
							type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MaterialSearchOperation">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="nombre" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MaterialSearchOperationResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="id" type="xsd:int"></xsd:element>
						<xsd:element name="nombre" type="xsd:string">
						</xsd:element>
						<xsd:element name="precio_unitario"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="id_clase" type="xsd:int">
						</xsd:element>
						<xsd:element name="situacion"
							type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MaterialUpdateOperation">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="id" type="xsd:int"></xsd:element>
						<xsd:element name="nombre" type="xsd:string">
						</xsd:element>
						<xsd:element name="precio_unitario"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="id_clase" type="xsd:int">
						</xsd:element>
						<xsd:element name="situacion"
							type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MaterialUpdateOperationResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="id" type="xsd:int"></xsd:element>
						<xsd:element name="nombre" type="xsd:string">
						</xsd:element>
						<xsd:element name="precio_unitario"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="id_clase"
							type="xsd:int">
						</xsd:element>
						<xsd:element name="situacion"
							type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="MaterialCreateOperationRequest">
		<wsdl:part name="parameters" element="tns:MaterialCreateOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="MaterialCreateOperationResponse">
		<wsdl:part name="parameters" element="tns:MaterialCreateOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="MaterialDeleteOperationRequest">
		<wsdl:part name="parameters" element="tns:MaterialDeleteOperation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="MaterialDeleteOperationResponse">
		<wsdl:part name="parameters" element="tns:MaterialDeleteOperationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="MaterialGetOperationRequest">
		<wsdl:part name="parameters" element="tns:MaterialGetOperation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="MaterialGetOperationResponse">
		<wsdl:part name="parameters" element="tns:MaterialGetOperationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="MaterialSearchOperationRequest">
		<wsdl:part name="parameters" element="tns:MaterialSearchOperation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="MaterialSearchOperationResponse">
		<wsdl:part name="parameters" element="tns:MaterialSearchOperationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="MaterialUpdateOperationRequest">
		<wsdl:part name="parameters" element="tns:MaterialUpdateOperation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="MaterialUpdateOperationResponse">
		<wsdl:part name="parameters" element="tns:MaterialUpdateOperationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MaterialCreatePortType">
		<wsdl:operation name="MaterialCreateOperation">
			<wsdl:input message="tns:MaterialCreateOperationRequest"></wsdl:input>
			<wsdl:output message="tns:MaterialCreateOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="MaterialHTTPPortType">
		<wsdl:operation name="MaterialDeleteOperation">
			<wsdl:input message="tns:MaterialDeleteOperationRequest"></wsdl:input>
			<wsdl:output message="tns:MaterialDeleteOperationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MaterialGetOperation">
			<wsdl:input message="tns:MaterialGetOperationRequest"></wsdl:input>
			<wsdl:output message="tns:MaterialGetOperationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MaterialSearchOperation">
			<wsdl:input message="tns:MaterialSearchOperationRequest"></wsdl:input>
			<wsdl:output message="tns:MaterialSearchOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="MaterialUpdatePortType">
		<wsdl:operation name="MaterialUpdateOperation">
			<wsdl:input message="tns:MaterialUpdateOperationRequest"></wsdl:input>
			<wsdl:output message="tns:MaterialUpdateOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CreateSOAPBinding"
		type="tns:MaterialCreatePortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="MaterialCreateOperation">

			<soap:operation
				soapAction="http://www.talend.org/service/MaterialCreateOperation" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="HTTPBinding" type="tns:MaterialHTTPPortType">

		<http:binding verb="GET" />
		<wsdl:operation name="MaterialDeleteOperation">

			<http:operation location="/MaterialDeleteOperation" />
			<wsdl:input>

				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />

			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MaterialGetOperation">

			<http:operation location="/MaterialGetOperation" />
			<wsdl:input>

				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />

			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MaterialSearchOperation">

			<http:operation location="/MaterialSearchOperation" />
			<wsdl:input>

				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />

			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="UpdateSOAPBinding"
		type="tns:MaterialUpdatePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="MaterialUpdateOperation">
			<soap:operation
				soapAction="http://www.talend.org/service/MaterialUpdateOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MaterialService">
		<wsdl:port name="MaterialCreatePort" binding="tns:CreateSOAPBinding">
			<soap:address location="http://localhost:8090/services/MaterialService/Create" />
		</wsdl:port>
		<wsdl:port name="MaterialHTTPPort" binding="tns:HTTPBinding">
			<http:address location="http://localhost:8090/services/MaterialService/HTTP" />
		</wsdl:port>
		<wsdl:port name="MaterialUpdatePort" binding="tns:UpdateSOAPBinding">
			<soap:address location="http://localhost:8090/services/MaterialService/Update" /></wsdl:port>
	</wsdl:service>
</wsdl:definitions>