services/PedidoVentaService_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PedidoVentaService"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="PedidoVentaCreateOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="fecha_emision"
							type="xsd:date">
						</xsd:element>
						<xsd:element name="id_cliente"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="id_vendedor"
							type="xsd:int">
						</xsd:element>
						<xsd:element name="id_direccion"
							type="xsd:int">
						</xsd:element>
						<xsd:element name="fecha_entrega"
							type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PedidoVentaCreateOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PedidoVentaDeleteOperation">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="id" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PedidoVentaDeleteOperationResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PedidoVentaGetOperation">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="id" type="xsd:int"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PedidoVentaGetOperationResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="id" type="xsd:int"></xsd:element>
						<xsd:element name="fecha_emision"
							type="xsd:date">
						</xsd:element>
						<xsd:element name="id_cliente"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="id_vendedor"
							type="xsd:int">
						</xsd:element>
						<xsd:element name="id_direccion"
							type="xsd:int">
						</xsd:element>
						<xsd:element name="fecha_entrega"
							type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PedidoVentaSearchOperation">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="id_cliente" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PedidoVentaSearchOperationResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="id" type="xsd:int"></xsd:element>
						<xsd:element name="fecha_emision"
							type="xsd:date">
						</xsd:element>
						<xsd:element name="id_cliente"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="id_vendedor"
							type="xsd:int">
						</xsd:element>
						<xsd:element name="id_direccion"
							type="xsd:int">
						</xsd:element>
						<xsd:element name="fecha_entrega"
							type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PedidoVentaUpdateOperation">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="id" type="xsd:int"></xsd:element>
						<xsd:element name="fecha_emision"
							type="xsd:date">
						</xsd:element>
						<xsd:element name="id_cliente"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="id_vendedor"
							type="xsd:int">
						</xsd:element>
						<xsd:element name="id_direccion"
							type="xsd:int">
						</xsd:element>
						<xsd:element name="fecha_entrega"
							type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="PedidoVentaUpdateOperationResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="id" type="xsd:int"></xsd:element>
						<xsd:element name="fecha_emision"
							type="xsd:date">
						</xsd:element>
						<xsd:element name="id_cliente"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="id_vendedor"
							type="xsd:int">
						</xsd:element>
						<xsd:element name="id_direccion"
							type="xsd:int">
						</xsd:element>
						<xsd:element name="fecha_entrega"
							type="xsd:int">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="PedidoVentaCreateOperationRequest">
		<wsdl:part name="parameters" element="tns:PedidoVentaCreateOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PedidoVentaCreateOperationResponse">
		<wsdl:part name="parameters" element="tns:PedidoVentaCreateOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="PedidoVentaDeleteOperationRequest">
		<wsdl:part name="parameters" element="tns:PedidoVentaDeleteOperation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PedidoVentaDeleteOperationResponse">
		<wsdl:part name="parameters" element="tns:PedidoVentaDeleteOperationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PedidoVentaGetOperationRequest">
		<wsdl:part name="parameters" element="tns:PedidoVentaGetOperation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PedidoVentaGetOperationResponse">
		<wsdl:part name="parameters" element="tns:PedidoVentaGetOperationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PedidoVentaSearchOperationRequest">
		<wsdl:part name="parameters" element="tns:PedidoVentaSearchOperation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PedidoVentaSearchOperationResponse">
		<wsdl:part name="parameters" element="tns:PedidoVentaSearchOperationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PedidoVentaUpdateOperationRequest">
		<wsdl:part name="parameters" element="tns:PedidoVentaUpdateOperation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PedidoVentaUpdateOperationResponse">
		<wsdl:part name="parameters" element="tns:PedidoVentaUpdateOperationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PedidoVentaCreatePortType">
		<wsdl:operation name="PedidoVentaCreateOperation">
			<wsdl:input message="tns:PedidoVentaCreateOperationRequest"></wsdl:input>
			<wsdl:output message="tns:PedidoVentaCreateOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="PedidoVentaHTTPPortType">
		<wsdl:operation name="PedidoVentaDeleteOperation">
			<wsdl:input message="tns:PedidoVentaDeleteOperationRequest"></wsdl:input>
			<wsdl:output message="tns:PedidoVentaDeleteOperationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PedidoVentaGetOperation">
			<wsdl:input message="tns:PedidoVentaGetOperationRequest"></wsdl:input>
			<wsdl:output message="tns:PedidoVentaGetOperationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PedidoVentaSearchOperation">
			<wsdl:input message="tns:PedidoVentaSearchOperationRequest"></wsdl:input>
			<wsdl:output message="tns:PedidoVentaSearchOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="PedidoVentaUpdatePortType">
		<wsdl:operation name="PedidoVentaUpdateOperation">
			<wsdl:input message="tns:PedidoVentaUpdateOperationRequest"></wsdl:input>
			<wsdl:output message="tns:PedidoVentaUpdateOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CreateSOAPBinding"
		type="tns:PedidoVentaCreatePortType">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="PedidoVentaCreateOperation">

			<soap:operation
				soapAction="http://www.talend.org/service/PedidoVentaCreateOperation" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="HTTPBinding"
		type="tns:PedidoVentaHTTPPortType">
		<http:binding verb="GET" />
		<wsdl:operation name="PedidoVentaDeleteOperation">
			<http:operation location="/PedidoVentaDeleteOperation" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PedidoVentaGetOperation">
			<http:operation location="/PedidoVentaGetOperation" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PedidoVentaSearchOperation">
			<http:operation location="/PedidoVentaSearchOperation" />
			<wsdl:input>
				<http:urlEncoded />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="UpdateSOAPBinding"
		type="tns:PedidoVentaUpdatePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="PedidoVentaUpdateOperation">
			<soap:operation
				soapAction="http://www.talend.org/service/PedidoVentaUpdateOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PedidoVentaService">
		<wsdl:port name="PedidoVentaCreatePort" binding="tns:CreateSOAPBinding">
			<soap:address location="http://localhost:8090/services/PedidoVentaService/Create" />
		</wsdl:port>
		<wsdl:port name="PedidoVentaHTTPPort" binding="tns:HTTPBinding">
			<http:address location="http://localhost:8090/services/PedidoVentaService/HTTP" />
		</wsdl:port>
		<wsdl:port name="PedidoVentaUpdatePort" binding="tns:UpdateSOAPBinding">
			<soap:address location="http://localhost:8090/services/PedidoVentaService/Update" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>